<?xml version="1.0"?>

<robot xmlns:xacro="http://wiki.ros.org/xacro">

   <xacro:macro name="pepper_robot" params="
   prefix:=pepper_robot_
  ">
    <group name="arm">
      <chain base_link="${prefix}link_base" tip_link="${prefix}end_effector"/>
    </group>
    <group name="gripper">
      <joint name="${prefix}LHand"/>
      <passive_joint name="${prefix}LFinger11"/>
      <passive_joint name="${prefix}LFinger12"/>
      <passive_joint name="${prefix}LFinger13"/>
      <passive_joint name="${prefix}LFinger21"/>
      <passive_joint name="${prefix}LFinger22"/>
      <passive_joint name="${prefix}LFinger23"/>
      <passive_joint name="${prefix}LFinger31"/>
      <passive_joint name="${prefix}LFinger32"/>
      <passive_joint name="${prefix}LFinger33"/>
      <passive_joint name="${prefix}LFinger41"/>
      <passive_joint name="${prefix}LFinger42"/>
      <passive_joint name="${prefix}LFinger43"/>
      <passive_joint name="${prefix}LThumb1"/>
      <passive_joint name="${prefix}LThumb2"/>
    </group>

    <group_state name="vertical" group="arm">
      <joint name="${prefix}LElbowRoll" value="${-1*pi/180}"/>
      <joint name="${prefix}LElbowYaw" value="${120*pi/180}"/>
      <joint name="${prefix}LShoulderPitch" value="${120*pi/180}"/>
      <joint name="${prefix}LShoulderRoll" value="${90*pi/180}"/>
      <joint name="${prefix}LWristYaw" value="${105*pi/180}"/>
    </group_state>
    <group_state name="home" group="arm">
      <joint name="${prefix}LElbowRoll" value="${-90*pi/180}"/>
      <joint name="${prefix}LElbowYaw" value="${-120*pi/180}"/>
      <joint name="${prefix}LShoulderPitch" value="${-120*pi/180}"/>
      <joint name="${prefix}LShoulderRoll" value="${1*pi/180}"/>
      <joint name="${prefix}LWristYaw" value="${-105*pi/180}"/>
    </group_state>

    <group_state name="open" group="gripper">
      <joint name="${prefix}LHand" value="${56*pi/180}"/>
    </group_state>
    <group_state name="close" group="gripper">
      <joint name="${prefix}LHand" value="${1*pi/180}"/>
    </group_state>

    <end_effector name="gripper" parent_link="${prefix}end_effector" group="gripper" parent_group="arm"/>

    <passive_joint name="${prefix}LFinger11"/>
    <passive_joint name="${prefix}LFinger12"/>
    <passive_joint name="${prefix}LFinger13"/>
    <passive_joint name="${prefix}LFinger21"/>
    <passive_joint name="${prefix}LFinger22"/>
    <passive_joint name="${prefix}LFinger23"/>
    <passive_joint name="${prefix}LFinger31"/>
    <passive_joint name="${prefix}LFinger32"/>
    <passive_joint name="${prefix}LFinger33"/>
    <passive_joint name="${prefix}LFinger41"/>
    <passive_joint name="${prefix}LFinger42"/>
    <passive_joint name="${prefix}LFinger43"/>
    <passive_joint name="${prefix}LThumb1"/>
    <passive_joint name="${prefix}LThumb2"/>

    <disable_collisions link1="LShoulder" link2="LElbow" reason="Adjacent"/>
    <disable_collisions link1="LShoulder" link2="LWrist" reason="Never"/>


  </xacro:macro>
</robot>