<?xml version="1.0"?>
<!-- SRDF for pepper_robot -->
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg name)">

  <!--                   -->
  <!-- Imported elements -->
  <!--                   -->
  <!-- Manipulator variants -->
  <xacro:include filename="$(find pepper_robot_moveit_config)/srdf/pepper_arms.xacro"/>


  <!--            -->
  <!-- Parameters -->
  <!--            -->
  <!-- Name of the robot (mandatory) -->
  <xacro:arg name="name" default="pepper_robot"/>
  <!-- Prefix for all entities -->
  <xacro:arg name="prefix" default="pepper_robot_"/>

</robot>