## Docker
Dockerfile
.dockerignore
.docker/host/
.docker/*.bash

## Docker Compose
docker-compose.yml
.env

## Dev Container
.devcontainer/

## Git
.git/
.gitignore

## GitHub
.github/

## Pre-commit
.git_hooks/
.pre-commit-config.yaml

## Markdown
**/CHANGELOG.md

### Inherited from gitignore ###
## Python
**/__pycache__/
**/.pytest_cache/
**/*.pcd
**/*.py[cod]
**/*.pyc
**/*$py.class

## ROS 2 & Colcon
build/
install/
log/
